* {
    box-sizing: border-box;
    text-decoration: none;
    color: #58595b;
    font-family: 'banana';
}
a {
    font-size: 12px;
    font-weight: bold;
    color: #545454;
}

@font-face {
  src: url('BMJUA_otf.otf');
  font-family:'banana';
}

#navi_bar {
    display: inline-block;
    border-bottom-style: double;
    border-bottom-color: slategrey;
    border-bottom-width: 5px;
    padding-left: 20px;
    padding-right: 20px;
    width: 800px;
    line-height: 60px;
    font-size: 30px;
    vertical-align: middle;
    text-align: center;
}
#sub_navi_bar {
    list-style: none;
    float: left;
    width: 800px;
    height: 100px;
    background-color: silver;
    text-align: center;
}

#sub_navi_bar ul {
    margin:0px;
    padding:0px;
    list-style-type: none;
}
#sub_navi_bar li {
    display: inline-block;
    margin: 0px;
    width: 20%;
    height: 100px;
    padding-top:30px;
    text-align: center;
    font-size: 20px;
    vertical-align: middle;
}
#sub_navi_bar li:hover {
    background-color: beige;
}

.metadata div {
    display: inline-block;
    width: 800px;
    height: 300px;
}
#file_download {
    font-size:14px;
    color: blue;
}